[GLOBAL]
pants_version = "2.21.0"
build_ignore = ['.github/**', 'examples/**']

backend_packages = [
  "pants.backend.python",
  "pants.backend.python.lint.autoflake",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.isort",
  "pants.backend.python.typecheck.mypy",
  "pants.backend.experimental.python",
  "pants.backend.experimental.adhoc",
  "pants.backend.experimental.java",
  "pants.backend.shell",

]

[python]
interpreter_constraints = [">=3.10,<4.0"]
enable_resolves = true

resolves = { python-default = "python-default.lock" }

[mypy]
config = "mypy.ini"

[python-bootstrap]
# We search for interpreters both on the $PATH and in the `$(pyenv root)/versions` folder.
#  If you're using macOS, you may want to leave off the <PATH> entry to avoid using the
#  problematic system Pythons. See
#  https://www.pantsbuild.org/docs/python-interpreter-compatibility#changing-the-interpreter-search-path.
# search_path = ["<PATH>", "<PYENV>"]

[python-infer]
# 2.17 is transitioning to a new, faster parser for dependency inference:
use_rust_parser = true
ignored_unowned_imports = ["azure.core.credentials.AccessToken"]
