    @require_pandas
    def to_pandas(self,
        {{#vendorExtensions.x-optimeering-complex-value}}
        unpack_value_method:str
        {{/vendorExtensions.x-optimeering-complex-value}}
        )->"pd.DataFrame": # type: ignore[name-defined]
        """
        Converts the object into a pandas dataframe.

        {{#vendorExtensions.x-optimeering-complex-value}}:param unpack_value_method:
            Determines how values are unpacked. Should be one of the following:
                1. retain_original: Do not unpack the values.
                2. new_rows: A new row will be created in the dataframe for each unpacked value. A new column `value_category` will be added which determines the category of the value.
                3. new_columns: A new column will be created in the dataframe for each unpacked value. The columns for unpacked values will be prepended with `value_`.
        :type unpack_value_method: str
        {{/vendorExtensions.x-optimeering-complex-value}}
        """
        return pydantic_to_pandas(self,
            {{#vendorExtensions.x-optimeering-complex-value}}unpack_value_method{{/vendorExtensions.x-optimeering-complex-value}}
        )
