(
        self,
        {{#allParams}}
        {{^vendorExtensions.x-optimeering-pagination-parameter.value}}
        {{! IGNORE ALL PAGINATION PARAMTERS}}
        {{^vendorExtensions.x-optimeering-comma-separated.data-type}}
        {{! DEFAULT CASE FROM OPENAPI GENERATOR}}
        {{paramName}}: {{!
            }}{{#vendorExtensions.x-optimeering-alternate-typing}}{{!
                }}Annotated[{{{vendorExtensions.x-optimeering-alternate-typing.type}}},{{{vendorExtensions.x-optimeering-alternate-typing.annotation}}}]{{!
            }}{{/vendorExtensions.x-optimeering-alternate-typing}}{{!
            }}{{^vendorExtensions.x-optimeering-alternate-typing}}{{!
                }}{{{vendorExtensions.x-py-typing}}}{{!
            }}{{/vendorExtensions.x-optimeering-alternate-typing}}{{!
            }}{{^required}} = None{{/required}},
        {{/vendorExtensions.x-optimeering-comma-separated.data-type}}
        {{#vendorExtensions.x-optimeering-comma-separated.data-type}}
        {{! OPTIMEERING PYTHON TYPE OVERWRITE}}
        {{paramName}}: Annotated[
            {{^required}}Optional[{{/required}}{{{vendorExtensions.x-optimeering-comma-separated.data-type}}}{{^required}}]{{/required}}{{^required}},
            Field(description="{{#description}}{{{.}}}{{/description}}")
        ] = None{{/required}},        {{/vendorExtensions.x-optimeering-comma-separated.data-type}}
        {{/vendorExtensions.x-optimeering-pagination-parameter.value}}
        {{/allParams}}
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
    )